*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid blue;
    height: 500px;
    width: 350px;
    margin-top: 35px;
    padding: 10px;
    text-align: center;
}

.search input{
    padding: 8px;
}

.search  button{
    padding: 8px;
    background-color: rgb(17, 180, 17);
    border: none;
    color: white;
    font-weight: 600;
    
}